# New section

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
# reading the dataset
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/Fraud.csv")

In [4]:
df.head()

   step      type    amount  ... newbalanceDest  isFraud  isFlaggedFraud
0     1   PAYMENT   9839.64  ...            0.0        0               0
1     1   PAYMENT   1864.28  ...            0.0        0               0
2     1  TRANSFER    181.00  ...            0.0        1               0
3     1  CASH_OUT    181.00  ...            0.0        1               0
4     1   PAYMENT  11668.14  ...            0.0        0               0

[5 rows x 11 columns]

###### checking for null values

In [5]:
df.isna().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [6]:
df.shape

(6362620, 11)

###### checking the dependent variable balance or imbalance

In [7]:
df['isFraud'].describe()

count    6.362620e+06
mean     1.290820e-03
std      3.590480e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: isFraud, dtype: float64

In [8]:
1.290820e-03*df.shape[0]

8212.9971484

0.00129 % of the data is tagged fraud

In [9]:
df['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [10]:
df['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [11]:
df[df['isFlaggedFraud']==1]

         step      type       amount  ... newbalanceDest  isFraud  isFlaggedFraud
2736446   212  TRANSFER   4953893.08  ...            0.0        1               1
3247297   250  TRANSFER   1343002.08  ...            0.0        1               1
3760288   279  TRANSFER    536624.41  ...            0.0        1               1
5563713   387  TRANSFER   4892193.09  ...            0.0        1               1
5996407   425  TRANSFER  10000000.00  ...            0.0        1               1
5996409   425  TRANSFER   9585040.37  ...            0.0        1               1
6168499   554  TRANSFER   3576297.10  ...            0.0        1               1
6205439   586  TRANSFER    353874.22  ...            0.0        1               1
6266413   617  TRANSFER   2542664.27  ...            0.0        1               1
6281482   646  TRANSFER  10000000.00  ...            0.0        1               1
6281484   646  TRANSFER    399045.08  ...            0.0        1               1
6296014   671  TRANSFER   3441041.46  ...            0.0        1               1
6351225   702  TRANSFER   3171085.59  ...            0.0        1               1
6362460   730  TRANSFER  10000000.00  ...            0.0        1               1
6362462   730  TRANSFER   7316255.05  ...            0.0        1               1
6362584   741  TRANSFER   5674547.89  ...            0.0        1               1

[16 rows x 11 columns]

**conclusion** highly imbalanced data

In [12]:
df["step"].describe()

count    6.362620e+06
mean     2.433972e+02
std      1.423320e+02
min      1.000000e+00
25%      1.560000e+02
50%      2.390000e+02
75%      3.350000e+02
max      7.430000e+02
Name: step, dtype: float64

In [13]:
corelation=df.corr()['isFraud']
corelation

step              0.031578
amount            0.076688
oldbalanceOrg     0.010154
newbalanceOrig   -0.008148
oldbalanceDest   -0.005885
newbalanceDest    0.000535
isFraud           1.000000
isFlaggedFraud    0.044109
Name: isFraud, dtype: float64

In [14]:
corelation.abs().sort_values(ascending=False)

isFraud           1.000000
amount            0.076688
isFlaggedFraud    0.044109
step              0.031578
oldbalanceOrg     0.010154
newbalanceOrig    0.008148
oldbalanceDest    0.005885
newbalanceDest    0.000535
Name: isFraud, dtype: float64

Checking the datatype

In [15]:
df.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [16]:
num_var=[var for var in df.columns if df[var].dtypes!='O']
num_var

['step',
 'amount',
 'oldbalanceOrg',
 'newbalanceOrig',
 'oldbalanceDest',
 'newbalanceDest',
 'isFraud',
 'isFlaggedFraud']

In [17]:
cat_var=[var for var in df.columns if df[var].dtypes=='O']
cat_var

['type', 'nameOrig', 'nameDest']

In [18]:
for var in cat_var:
  values=df[var].unique()
  count=len(df[var].unique())
  
  print("unique values in {} is {} are {} ".format(var,count,values))

unique values in type is 5 are ['PAYMENT' 'TRANSFER' 'CASH_OUT' 'DEBIT' 'CASH_IN']
unique values in nameOrig is 6353307 are ['C1231006815' 'C1666544295' 'C1305486145' ... 'C1162922333' 'C1685995037'
 'C1280323807']
unique values in nameDest is 2722362 are ['M1979787155' 'M2044282225' 'C553264065' ... 'C1850423904' 'C1881841831'
 'C2080388513']

observation:  nameOrig as entirly different from each other

# New section

taking only the 1st letter of account no.  e.g: C and M

In [19]:
def initial(x):
  return x[0]

In [20]:
df['nameOrig_encoded']=df['nameOrig'].apply(initial)

In [21]:
df['nameDest_encoded']=df['nameDest'].apply(initial)

In [22]:
df.head()

   step      type    amount  ... isFlaggedFraud  nameOrig_encoded  nameDest_encoded
0     1   PAYMENT   9839.64  ...              0                 C                 M
1     1   PAYMENT   1864.28  ...              0                 C                 M
2     1  TRANSFER    181.00  ...              0                 C                 C
3     1  CASH_OUT    181.00  ...              0                 C                 C
4     1   PAYMENT  11668.14  ...              0                 C                 M

[5 rows x 13 columns]

In [23]:
df['nameDest_encoded'].value_counts()

C    4211125
M    2151495
Name: nameDest_encoded, dtype: int64

In [24]:
df['nameOrig_encoded'].value_counts()

C    6362620
Name: nameOrig_encoded, dtype: int64

as we can observe from the above data that all nameOrig_encoded same , so will be droping it in future

### Encoding the cat variables

In [25]:
df_type=pd.get_dummies(df['type'],drop_first=True)
df_type

         CASH_OUT  DEBIT  PAYMENT  TRANSFER
0               0      0        1         0
1               0      0        1         0
2               0      0        0         1
3               1      0        0         0
4               0      0        1         0
...           ...    ...      ...       ...
6362615         1      0        0         0
6362616         0      0        0         1
6362617         1      0        0         0
6362618         0      0        0         1
6362619         1      0        0         0

[6362620 rows x 4 columns]

In [26]:
df_nameDest_encoded=pd.get_dummies(df['nameDest_encoded'],drop_first=True)
df_nameDest_encoded

         M
0        1
1        1
2        0
3        0
4        1
...     ..
6362615  0
6362616  0
6362617  0
6362618  0
6362619  0

[6362620 rows x 1 columns]

In [27]:
data=pd.concat([df,df_type,df_nameDest_encoded],axis=1)

In [28]:
data.head()

   step      type    amount     nameOrig  ...  DEBIT  PAYMENT TRANSFER  M
0     1   PAYMENT   9839.64  C1231006815  ...      0        1        0  1
1     1   PAYMENT   1864.28  C1666544295  ...      0        1        0  1
2     1  TRANSFER    181.00  C1305486145  ...      0        0        1  0
3     1  CASH_OUT    181.00   C840083671  ...      0        0        0  0
4     1   PAYMENT  11668.14  C2048537720  ...      0        1        0  1

[5 rows x 18 columns]

In [29]:
data.shape

(6362620, 18)

In [30]:
# droping the cat variable and constant variable
data_final=data.drop(labels=['type','nameOrig', 'nameDest','nameOrig_encoded','nameDest_encoded'], axis=1)

In [31]:
data_final

         step      amount  oldbalanceOrg  ...  PAYMENT  TRANSFER  M
0           1     9839.64      170136.00  ...        1         0  1
1           1     1864.28       21249.00  ...        1         0  1
2           1      181.00         181.00  ...        0         1  0
3           1      181.00         181.00  ...        0         0  0
4           1    11668.14       41554.00  ...        1         0  1
...       ...         ...            ...  ...      ...       ... ..
6362615   743   339682.13      339682.13  ...        0         0  0
6362616   743  6311409.28     6311409.28  ...        0         1  0
6362617   743  6311409.28     6311409.28  ...        0         0  0
6362618   743   850002.52      850002.52  ...        0         1  0
6362619   743   850002.52      850002.52  ...        0         0  0

[6362620 rows x 13 columns]

In [32]:

X=data_final.drop(labels=['isFraud','isFlaggedFraud'], axis=1,)
y=data_final['isFraud']

In [33]:
# spliting the train & test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,
                                               y,
                                               test_size=0.3)

In [34]:
X_train.shape

(4453834, 11)

In [35]:
y_train.value_counts()

0    4448083
1       5751
Name: isFraud, dtype: int64



# model building and selection

In [36]:
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [41]:
# note: RandomForest would be prefered algorithm , but to have the clarity practically comparing below options
models = []
models.append(('RandomForest', RandomForestClassifier()))
models.append(('Decision Tree', DecisionTreeClassifier()))

 
models.append(('LogisticRegression', LogisticRegression()))

#models.append(('Naive Bayes',GaussianNB()))
#models.append(('KNN', KNeighborsClassifier(n_neighbors = 5)))

In [42]:
# creating a dataframe to record the metrics
dict1={'Classifier':[models[i][0] for i in range(len(models))]}
result_df=pd.DataFrame(dict1)
result_df

           Classifier
0        RandomForest
1       Decision Tree
2  LogisticRegression

In [39]:
# creating fuction for reusablity
def models_fitting(X_train,X_test,title,y_train=y_train):
    """X_train= independent variables
       X_test = dependent variables
       title = description the X_train,X_test
       y_train=y_train (only used during under and over sampling """
    
    # defining list for collecting the results
    accuracy=[]
    score=[]
    auc=[]
    for name, model in models:
        print(name)
        model.fit(X_train, y_train)

        # Make predictions.
        predictions = model.predict(X_test)


        #getting training accuracy

        #if name!='KNN':
        from sklearn.metrics import accuracy_score
        from sklearn.metrics import classification_report
        train_pred = model.predict(X_train)
        print("training accuracy")
        print(accuracy_score(train_pred,y_train))
        print("\n classification_report \n",classification_report(train_pred,y_train))

        # ROC AUC
        from sklearn.metrics import roc_auc_score
        print("roc_auc_score \n{}" .format(roc_auc_score(predictions, y_test)))
        
        # Compute the error.
        from sklearn.metrics import f1_score
        from sklearn.metrics import confusion_matrix
        from sklearn.metrics import accuracy_score
        print("\n f1_score \n",f1_score(predictions, y_test))
        print("\n",confusion_matrix(predictions, y_test))
        print("\n accuracy_score \n",accuracy_score(predictions,y_test))
        from sklearn.metrics import classification_report
        print("\n classification_report \n",classification_report(predictions,y_test))
        
        #ccollecting accuracy,f1_score,roc_auc_score
        
        accuracy.append(accuracy_score(predictions,y_test))
        score.append(f1_score(predictions,y_test))
        auc.append(roc_auc_score(predictions,y_test))
        print('\n')
        print('\n')
    result_df[title+"_A"]=accuracy
    result_df[title+"_f1"]=score
    result_df[title+"_AUC"]=auc

In [43]:
#@title Direct_results
models_fitting(X_train,X_test,'Direct')

RandomForest
training accuracy
0.9999997754743442

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   4448084
           1       1.00      1.00      1.00      5750

    accuracy                           1.00   4453834
   macro avg       1.00      1.00      1.00   4453834
weighted avg       1.00      1.00      1.00   4453834

roc_auc_score
0.9910213209121731

 f1_score
 0.8754784958342715

 [[1906289     518]
 [     35    1944]]

 accuracy_score
 0.9997102870620383

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   1906807
           1       0.79      0.98      0.88      1979

    accuracy                           1.00   1908786
   macro avg       0.89      0.99      0.94   1908786
weighted avg       1.00      1.00      1.00   1908786





Decision Tree
training accuracy
1.0

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   4448083
           1       1.00      1.00      1.00      5751

    accuracy                           1.00   4453834
   macro avg       1.00      1.00      1.00   4453834
weighted avg       1.00      1.00      1.00   4453834

roc_auc_score
0.9481188436461679

 f1_score
 0.8873846153846153

 [[1906074     299]
 [    250    2163]]

 accuracy_score
 0.9997123826348265

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   1906373
           1       0.88      0.90      0.89      2413

    accuracy                           1.00   1908786
   macro avg       0.94      0.95      0.94   1908786
weighted avg       1.00      1.00      1.00   1908786





LogisticRegression
training accuracy
0.9982453319993516

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   4446686
           1       0.44      0.36      0.39      7148

    accuracy                           1.00   4453834
   macro avg       0.72      0.68      0.70   4453834
weighted avg       1.00      1.00      1.00   4453834

roc_auc_score
0.6759531788848888

 f1_score
 0.3865638766519824

 [[1904391    1409]
 [   1933    1053]]

 accuracy_score
 0.9982491489355014

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   1905800
           1       0.43      0.35      0.39      2986

    accuracy                           1.00   1908786
   macro avg       0.71      0.68      0.69   1908786
weighted avg       1.00      1.00      1.00   1908786

In [44]:
result_df

           Classifier  Direct_A  Direct_f1  Direct_AUC
0        RandomForest  0.999710   0.875478    0.991021
1       Decision Tree  0.999712   0.887385    0.948119
2  LogisticRegression  0.998249   0.386564    0.675953

# New section

In [45]:
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(0.8)
X_train_os, y_train_os = ros.fit_resample(X_train, y_train)

print("normal X_train {} ".format(Counter(y_train)))
print("oversampled X_train {} ".format(Counter(y_train_os)))

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

normal X_train Counter({0: 4448083, 1: 5751})
oversampled X_train Counter({0: 4448083, 1: 3558466})

In [46]:
4448026*.8

3558420.8000000003

In [47]:
models_fitting(X_train_os, X_test, "oversampled", y_train=y_train_os)

RandomForest
training accuracy
1.0

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   4448083
           1       1.00      1.00      1.00   3558466

    accuracy                           1.00   8006549
   macro avg       1.00      1.00      1.00   8006549
weighted avg       1.00      1.00      1.00   8006549

roc_auc_score
0.9811015042815167

 f1_score
 0.8808107512667989

 [[1906246     463]
 [     78    1999]]

 accuracy_score
 0.9997165737804028

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   1906709
           1       0.81      0.96      0.88      2077

    accuracy                           1.00   1908786
   macro avg       0.91      0.98      0.94   1908786
weighted avg       1.00      1.00      1.00   1908786





Decision Tree
training accuracy
1.0

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   4448083
           1       1.00      1.00      1.00   3558466

    accuracy                           1.00   8006549
   macro avg       1.00      1.00      1.00   8006549
weighted avg       1.00      1.00      1.00   8006549

roc_auc_score
0.9443742743129587

 f1_score
 0.8716356107660456

 [[1906061     357]
 [    263    2105]]

 accuracy_score
 0.9996751862178369

 classification_report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00   1906418
           1       0.85      0.89      0.87      2368

    accuracy                           1.00   1908786
   macro avg       0.93      0.94      0.94   1908786
weighted avg       1.00      1.00      1.00   1908786





LogisticRegression
training accuracy
0.9098892668988849

 classification_report
               precision    recall  f1-score   support

           0       0.93      0.91      0.92   4577651
           1       0.88      0.91      0.90   3428898

    accuracy                           0.91   8006549
   macro avg       0.91      0.91      0.91   8006549
weighted avg       0.91      0.91      0.91   8006549

roc_auc_score
0.5083556729786725

 f1_score
 0.033107257195745525

 [[1779154     280]
 [ 127170    2182]]

 accuracy_score
 0.9332298120375988

 classification_report
               precision    recall  f1-score   support

           0       0.93      1.00      0.97   1779434
           1       0.89      0.02      0.03    129352

    accuracy                           0.93   1908786
   macro avg       0.91      0.51      0.50   1908786
weighted avg       0.93      0.93      0.90   1908786

In [48]:
result_df

           Classifier  Direct_A  ...  oversampled_f1  oversampled_AUC
0        RandomForest  0.999710  ...        0.880811         0.981102
1       Decision Tree  0.999712  ...        0.871636         0.944374
2  LogisticRegression  0.998249  ...        0.033107         0.508356

[3 rows x 7 columns]

In [ ]:
# RandomForest perform well

further improvements

* hyper parameter tuning using randomsearchCV or gridsearchCV